/* General */
.sticky-top{
    position: sticky;
    top: 0px;
}

/* Table Classes */

.td-link{
    color: navy;
}

.td-link:hover{
    font-weight: 600;
    color: indigo;
    text-decoration-line: underline;
}

.tr-body:hover{
    background-color: rgb(219 234 254);
}
